.tooltip_content
{
    font: 13px/1.7 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 9px 17px;
    color: #333;
    border: 1px solid #dcdcdc;
    background-color: #fff;
}

.tooltip_container_bottom
{
    position: fixed;
    z-index: 1000;
    display: none;
    margin-top: 13px;
}

.tooltip_container_top
{
    position: fixed;
    z-index: 1000;
    display: none;
    margin-top: -77px;
}

.qtip-bootstrap{
    /** Taken from Bootstrap body */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: 0 0 3px #333;
    -moz-box-shadow: 0 0 3px #333;
    box-shadow: 0 0 3px #333;

    color: white;
    border: 0 solid transparent;
    background: #4A4A4A;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#4A4A4A),color-stop(100%,black));
    background-image: -webkit-linear-gradient(top,#4A4A4A 0,black 100%);
    background-image: -moz-linear-gradient(top,#4A4A4A 0,black 100%);
    background-image: -ms-linear-gradient(top,#4A4A4A 0,black 100%);
    background-image: -o-linear-gradient(top,#4A4A4A 0,black 100%);
    background-color: #4A4A4A;
    background-color: rgba(0,0,0,0);
    border-color: #303030;
    min-width: 175px;
    padding: .75em;
    font: 12px arial,sans-serif;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);";
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}